.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.car{
  
  margin-top: 3vw;
  margin-bottom: 3vw;

}
.formConnexion{
  
  width: 30vw;
  position: absolute;
  margin-left: 20vw;
  top: 25vh;
  background-color: azure;
  opacity: 0.9;
  z-index: 10;
}

#logo{
  display: block;
  margin: auto;
  margin-bottom: 10%;
  height: 25vh;
  /*width: 25vw;*/
  ;
}
.MDBCol{
text-align: center;
}

.card-deck{
margin-top: 3vw;
margin-bottom: 3vw;
margin-left: 5vw;
margin-right: 5vw;

}



.navbar-brand{
  color : white !important;
}

.navbar-brand:hover {
  background-color: #FF8700;
}

.nav-link{
  color : white !important;

}

.nav-link:hover {
  background-color: #FF8700;
}

.navbar{
margin-left: 13vw;
}

.test{
  position: absolute;
  left:0vw ;
  right:2wv ;
  top: -4vw;
}

body, html {
  height: 100%;
  }
  .bg {
  background-image: url("./images/fond.png");
  height: 100vh;
 
  background-repeat: no-repeat;
  background-size: cover;
  
 
  }

  .btncontact{
    background-color: #FF8700;
  }

  .pres{
    
   background-color: white;
 
  }

  .send{
    background-color: #FF8700;
  }

  .message{
    margin: auto;
    width: 50%;
   
  }

  

  